;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; Worker Configuration ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; confidence_score       Return confidence score of the best transcription (default "false")
; decoding_time	       Return the decoding time in second (default "false")
; preprocessing          A signal processing before the decoding stage.
;                        It includes Voice Activity Detection and Noise Reduction (default "true")
; noise                  Activate/Desactivate the Noise Reduction process (default "true")
; noise_method           Noise Reduction method (rnnoise|noise_reduce)
; silence                Activate/Desactivate the Voice Activity Detection process (default "false")
; silence_method         Voice Activity Detection method (signal_trimming|noise_reduce)
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[server_params]
server_ip : stt-server
server_port : 8888
server_target : /worker/ws/speech

[worker_params]
confidence_score : false
hclg_mode: 1

