/* HEADER */

#header {
    position: relative;
    height: 40px;
    min-height: 40px;
    padding: 10px 0;
    background-color: #fff;
    margin: 0;
    z-index: 10;
    @include blockShadow();
    &.fullscreen-child {
        z-index: 1;
    }
    .header__logo {
        padding: 0 20px;
        img {
            display: inline-block;
            width: auto;
            height: 100%;
        }
    }
    .header__nav {
        padding: 0 20px;
        text-align: right;
        margin: 5px 20px;
    }
}


/* END HEADER */