$textColor: #454545;
$blueDark: #434C5F;
$blueMid: #6989aa;
$blueLight: #E0F1FF;
$blueLinto: #45baeb;
$blueExtraLight: #f0f6f9;
$greenLight: #e0fffa;
$valid: #00C0B6;
$warning: #ffa659;
$greenChart: #00C0B6;
$error: #ff7070;